<div class="paddingTop container">
  <div *ngFor="let location of fullApiResponse">
    <mat-card class="example-card center item">

        <mat-card-header>
          <mat-card-title>Your next three days of weather for {{location.nearest_area[0].areaName[0].value}}</mat-card-title>
          <mat-card-subtitle>Go outside.</mat-card-subtitle>
        </mat-card-header>

        <mat-divider></mat-divider>
        
        <mat-card-content class="overflow" *ngIf="location.weather">
          <mat-list>
            <div *ngFor="let weather of location.weather">
              <mat-list-item >
                <p mat-line>Date: {{weather.date | date : "fullDate"}}</p>
              </mat-list-item>
              <mat-list-item >
                <p mat-line>Temperature: {{weather.avgtempF}}°F</p>
              </mat-list-item>
              <mat-list-item >
                <p mat-line>Moon Phase: {{weather.astronomy[0].moon_phase}}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
            </div>
          </mat-list>
        </mat-card-content>
    </mat-card>
  </div>

</div>

