<div class="paddingTop">
    <mat-card class="example-card center">
        <mat-card-header>
          <mat-card-title>Enter your location below</mat-card-title>
          <mat-card-subtitle>City, State</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <form [formGroup]="form">
            <section>
              <mat-form-field>
                <mat-label>City</mat-label>
                <input matInput type="text" placeholder="City" formControlName="city">
                @if (location) {
                  <button matSuffix mat-icon-button aria-label="Clear" (click)="clearCity()">
                    <mat-icon>close</mat-icon>
                  </button>
                }
              </mat-form-field>
            </section>
            <section>
              <mat-form-field>
                <mat-label>State</mat-label>
                <input matInput type="text" placeholder="State" formControlName="state">
                @if (location) {
                  <button matSuffix mat-icon-button aria-label="Clear" (click)="clearState()">
                    <mat-icon>close</mat-icon>
                  </button>
                }
              </mat-form-field>
            </section>
          </form>

          <mat-divider></mat-divider>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="getWeather()">Get Weather</button>
        </mat-card-actions>
        <mat-card-footer *ngIf="isLoading">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>

      </mat-card>
</div>

